{% extends "base.html" %} {% block content %}

<div class="container" "align-center">
    <h2 class="title">Tasks To Do</h2>
    <div class="row">
        <div class="col-sm-9">
            {% for item in todo_items %}
            <p class="paragraph"><b>
                {% if item.done %}
                 <s>{{ item.name }}</s>
               {% else %}
                   {{ item.name }} 
                   {% endif %}
               </b></p>

            <p> <i>{{ item.description }}</i>

                   
            </p>
                    <div class="row">
                        <div class="col-sm-3" "align-right">
                            <button class="btn btn-success"><a href="/done/{{ item.id }}">Done</button></a>
                       
                            <button class="btn btn-warning"><a href="/edit/{{ item.id }}">Edit</button></a>
                       
                            
                        </div>
                    </div>
            
                           
                       
    

            {% endfor %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/add">Add New Task</a>
        </div>
    </div>
</div>




</div>




{% endblock content %}
